/* General Style */
:root {
  --font-color: hsl(193, 38%, 86%);
  --hover-color: hsl(150, 100%, 66%);
  --Grayish-Blue: hsl(217, 19%, 38%);
  --Dark-Grayish-Blue: hsl(217, 19%, 24%);
  --Dark-Blue: hsl(218, 23%, 16%);
}
.bg-color {
  background-color: var(--Dark-Blue);
}
body {
  font-family: "Manrope", sans-serif;
}
/* ************ */
.advice__item {
  background-color: var(--Dark-Grayish-Blue);
  color: var(--font-color);
  border-radius: 10px;
}
.advice__item h6 {
  color: var(--hover-color);
  letter-spacing: 1px;
}
.advice__item .advice__item-btn {
  bottom: -9%;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
.advice__item .advice__item-btn:hover {
  -webkit-box-shadow: 0px 0px 11px 3px var(--hover-color);
  box-shadow: 0px 0px 11px 3px var(--hover-color);
}
.advice__item .advice__item-btn {
  background-color: var(--hover-color);
}
